.icons{
  height: 20px;
  width: 22px;
}
#adult, #customerName, #checkInDate, #checkOutDate, #totalCost{
  margin: 2px;
}
.imgDetail{
  width: 500px;
  height: 500px;
}
.detailContent{
  margin-left: 4%;
}