


.indexImg{
  height: 150px;
  width: 150px;
  padding: 4%;
  border-radius: 25%;
}


.searchSpace{
  
 background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
 background-size: 100%;
 height: 380px;
 
 background-position: center;
  
}
.thumbImages{
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
}