.icons{
  height: 20px;
  width: 22px;
}
.imgList{
  width: 300px;
  height: 300px;
}
.listSquare{
  margin: 2%;
  background-color: rgb(132,136,139);
  width: 40%;
}
.map{
  width: 100%;
  align-content: center;
}